:host ::ng-deep .p-menuitem-text{
  font-size: 14px!important;
}

:host ::ng-deep .p-tabmenu{
  height: 35px;
}

:host ::ng-deep .p-tabmenu-nav{
  height: 30px;
}

:host ::ng-deep .p-tabmenuitem{
  height: 30px;
}

:host ::ng-deep .p-menuitem-link	{
  height: 30px;
}

.mat-tab-link {
  height: 25px;
}


